# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.class

# Target #

target/

# Eclipse files #
**/.project
**/.classpath
**/.settings/
blog/bin/
**/.tern-project

# Netbeans files #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/